<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
    <style>
        #mapid {height: 700px;}
    </style>
</head>
<body>
    <div id="mapid"></div>

    <script>
        $.ajax({
            url: '/api/puntos',
            type: 'GET',
            success: function(data) {
                for (var i = 0; i < data.length; i++) {
                var marker = L.marker([data[i].lat, data[i].lng]).addTo(mymap);
                marker.bindPopup(data[i].name);
                }
            }
            });
        var mymap = L.map('mapid').setView([-25.535382, -54.633344], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '',
            maxZoom: 18,
        }).addTo(mymap);
    </script>
</body>
</html>